@charset "utf-8";

.topbanner {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    float: right; 
}


.fa {
	float: left; 
}

.fa-facebook {
    margin-left: 10px;	
}

.NameContainer {
    padding-top: 80px;
    text-align: center;
    margin-top: 0px;
}

.Brandname {
    font-family: bebas-neue;
    font-style: normal;
    font-size: 55px;
    vertical-align: middle;
    letter-spacing: 11px;
}

.navbar {
    margin: 0 auto;
    width: 700px;
    font-family: courier;
    font-weight: bold;
}

.nav-item {
	margin: 5;
	margin-right: 5px;
	margin-left: 5px;
}

.hovers:hover {
	font-weight: bold;
}

.btn {
	font-family: courier;
	margin-right: 20px;
	
}

.big-banner {
    background-color: #FF0414;
    height: 200px;

	margin: auto;
	padding: 10px;
	text-align: center;
}

.banner-text {
	font-family: courier;
	font-weight: bold;
	padding: 70px 0;
	text-align: center;
	font-size: 50px;
	
}

.bulletpoints {
    margin-left: 90px;
    font-size: x-large;	
}

.title {
	font-family: courier;
	font-weight: bold;
}

.text {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
	
}

.New-vacancies {
	margin-left: 90px;
    font-size: x-large;	
}

.text-bold {
    font-weight: bold;	
}

.card-text {
	width: 330px;
}

.footer {
	background-color: #0A0A1E	
}

.footer-text {
	color: white;
	text-align: center;
}

.footer-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-banner {
	background-color: #51F1E3;
	height: 320px;
	
}

.appstore {
    float: left;
	margin-left: 50px;
}

.banner-text2{
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    padding-top: 0px;
    margin-top: -70px;
}

.banner-buttons {
	margin-left: 10px;
	margin-top: 20px;
}


.download-button {
	margin-top: 20px;
}

.screenshot {
	float: right;
	margin-right: 90px 
}

.centered-and-cropped {
	object-fit: cover
}

.sub-about-us {
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: courier;
	font-weight: bold;
}

.names {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding-top: 10px;
	text-align: center;
}

.who-are-we {
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: courier;
	font-weight: bold;
}

.about-us-text {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.about-us-bullet {
	padding-bottom: 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: large;
}

.column {
	box-sizing: border-box;
}

/* Style inputs */
.input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}	

.input[type=submit]:hover {
	background-color: #45a049;
}

/* Style the container/contact section */
.container {
	border-radius: 5px;
	padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.contactimage {
    float: center;
    margin-right: 92px;
	margin-bottom: 92px;
    margin-left: 92px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}