@charset "utf-8";

.topbanner {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    float: right; 
}


.fa {
	float: left; 
}

.fa-facebook {
    margin-left: 10px;	
}

.NameContainer {
    padding-top: 80px;
    text-align: center;
    margin-top: 0px;
}

.Brandname {
    font-family: bebas-neue;
    font-style: normal;
    font-size: 55px;
    vertical-align: middle;
    letter-spacing: 11px;
}

.navbar {
    margin: 0 auto;
    width: 700px;
    font-family: courier;
    font-weight: bold;
}

.nav-item {
	margin: 5;
	margin-right: 5px;
	margin-left: 5px;
}

.hovers:hover {
	font-weight: bold;
}


.btn {
	font-family: courier;
	
}

.big-banner {
    background-color: #FF0414;
    height: 200px;
	width: 1000px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.banner-text {
	font-family: courier;
	font-weight: bold;
	padding: 70px 0;
	text-align: center;
	


	
}
