@charset "utf-8";

html,body 
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.topbanner {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.fa {
	float: left; 
}

.fa-facebook {
    margin-left: 10px;	
}

.NameContainer {
    padding-top: 80px;
    text-align: center;
    margin-top: 0px;
}

.homebutton {
	color: #7C7C7D;
}

.nav-item {
  margin-bottom: -1px;
  color: #7C7C7D;
}

.nav-link {
 	display: block;
 	padding: 0.5rem 1rem;
	color: #7C7C7D;
}
	

.Brandname {
    font-family: bebas-neue;
    font-style: normal;
    font-size: 55px;
    vertical-align: middle;
    letter-spacing: 11px;
}

.navbar {
    margin: 0 auto;
    width: 700px;
    font-family: courier;
    font-weight: bold;
}

.nav-item {
	margin: 5;
	margin-right: 5px;
	margin-left: 5px;
}

.hovers:hover {
	font-weight: bold;
}

.btn {
	font-family: courier;
	margin-right: 20px;
	float: right;	
}

.big-banner1 {
    background-color: #FF0414;
    height: 300px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.big-banner2 {
    background-color: #FF6437;
    height: 300px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.big-banner3 {
    background-color: #FFD761;
    height: 300px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.big-banner4 {
    background-color: #FF42AD;
    height: 300px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.big-banner5 {
	background-color: #51F1E3;
	height: 300px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.banner-text4 {
	font-family: courier;
	font-weight: bold;
	padding: 70px 0;
	text-align: center;
	font-size: 70px;
}

.banner-text2{
    font-family: bebas-neue;
    font-style: normal;
    font-weight: 400;
    padding-top: 0px;
    margin-top: -70px;
	text-align: center;
	font-size: 30px;
}

.banner-text {
	font-family: courier;
	font-weight: bold;
	padding: 100px 0;
	text-align: center;
	font-size: 50px;
}


.title {
    font-family: courier;
    font-weight: bold;
    background-color: #FF6437;
}

.card-title {
	font-family: courier;
    font-weight: bold;
	margin-left: 20px;
}

.card-img3 {
	margin-left: 30px;
}

.card-padding {
	padding: 10px;
}

.card-padding2 {
	padding-bottom: 5px;
}

.card-padding3 {
	padding-bottom: 15px;
}

.text2 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: x-large;
}

.text {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: medium;
}

.New-vacancies {
    margin-left: 90px;
	font-size: medium;
}

.vacancy-row {
    width: 1000px;
    margin-top: 10px;
}


.reviews-row {
    margin-left: 20px;
    margin-top: 10px;
	display: flex;
	flex-direction: row;
}

.text-bold {
    font-weight: bold;	
}

.card-text {
	width: 300px;
	font-size: 15px;
	margin-left: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

.card-body {
	width: 400px;
}

.card-img {
    width: 200px;
    margin-top: 15px;
}

.card-img2 {
    width: 200px;
    margin-top: 15px;
	margin-left: 10px;
}

.footer {
    background-color: #0A0A1E;
    margin-top: 90px;
}

.footer-text {
	color: white;
	text-align: center;
}

.footer-text1:hover {
    color: white;
    text-decoration: underline;
}

.footer-img {
	padding-bottom: 10px;
}

.image-banner {
	background-color: #A3A3A3;
	height: 320px;
	
}

.banner-buttons {
    margin-top: 20px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.download-button {
	margin-top: 20px;
}

.banner-buttons1 {
	float: right;
}

.banner-buttons2 {
	float: left;
}

.screenshot {
	margin: 2px;
}

.theapp-li {
    text-align: left;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: x-large;
}

.centered-and-cropped {
	object-fit: cover
}

.card-img-top {
	width: 200px;
}

.sub-about-us {
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: courier;
	font-weight: bold;
}

.sub-title {
	background-color: #FFAB92
}

.sub-title2 {
	background-color: #FFB8BC;
}

.sub-title3 {
	background-color: #FFF4D6;
}

.sub-title4 {
	background-color: #FFC3E5;
}

.home-text {
	font-size: large;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.names {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding-top: 10px;
	text-align: center;
}

.who-are-we {
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: courier;
	font-weight: bold;
}

.about-us-text {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.about-us-bullet {
	padding-bottom: 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: large;
}

.column {
	box-sizing: border-box;
}

/* Style inputs */
.input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}	

.input[type=submit]:hover {
	background-color: #45a049;
}

/* Style the container/contact section */
.container {
	border-radius: 5px;
	padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.contactimage {
    float: center;
    margin-right: 92px;
	margin-bottom: 92px;
    margin-left: 92px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    margin-top: 0;
	}
}
